/* transactions header */

.transactions {
    position: relative;
}

.transaction-header {
    background: #FBFBFB;
    height: 52px;
    position: absolute;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, .2);
    -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.2);
}

.transaction-header .column {
    box-sizing: border-box;
    color: #6D6D6D;
    cursor: pointer;
    font-family: "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 600;
    display: inline-block;
    height: 52px;
    line-height: 56px;
    margin-left: 25px;
    min-width: 140px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    .transaction-row .column {
        font-weight: 700;
    }

}

.transaction-header .column.active {
    border-bottom: 3px solid #278FD4;
    color: #278FD4;
}

.transaction-header .column.asc {

}

.transaction-header .column.desc {

}


/* transactions body */

.transactions-body {
    position: absolute;
    top: 52px;
    width: 100%;
}

.transaction-row {
    background: #FFF;
    height: 40px;
    width: 100%;
}

.transaction-row:nth-child(even) {
    background: #FAFAFA;
}

.transaction-row .column {
    box-sizing: border-box;
    color: #646464;
    display: inline-block;
    font-family: "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 40px;
    min-width: 165px;
    padding-left: 25px;
    -webkit-font-smoothing: antialiased;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    .transaction-row .column {
        font-weight: 400;
    }

}

/* cells */

.transaction-row input {
    background: none;
    border: none;
    -webkit-appearance: none;
}