/* app css stylesheet */

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* menu */

#menu {
    color: #FFF;
    height: 100%;
    position: absolute;
    width: 300px;
}

#content {
    color: #FFF;
    height: 100%;
    left: 300px;
    overflow-y: scroll;
    position: absolute;
    right: 0;
}

#header {
    background: #274E69;
    color: #FFF;
    height: 70px;
    overflow: auto;
    width: 100%;
}

#nav {
    background: #262626;
    bottom: 0;
    margin: 0;
    position: absolute;
    top: 70px;
    width: 70px;
}

#subnav {
    background: #283947;
    bottom: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 70px;
    width: 230px;
}

#app-logo {
    background: url(../images/app-logo.png) center center no-repeat;
    height: 29px;
    margin: 22px;
    width: 97px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    #app-logo {
        background-image: url(../images/app-logo@2x.png);
        -webkit-background-size: 97px 29px;
        -moz-background-size: 97px 29px;
        background-size: 97px 29px;
    }

}

/* accounts page */

#accounts-chart {
    background: rgba(59,152,214,1);
    background: -moz-linear-gradient(-45deg, rgba(59,152,214,1) 0%, rgba(35,125,185,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(59,152,214,1) 0%, rgba(35,125,185,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(59,152,214,1) 0%, rgba(35,125,185,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(59,152,214,1) 0%, rgba(35,125,185,1) 100%);
    background: linear-gradient(135deg, rgba(59,152,214,1) 0%, rgba(35,125,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b98d6', endColorstr='#237db9', GradientType=1 );
    color: #FFF;
    height: 380px;
    width: 100%;
}

#transactions {
    background: #FFF;
    color: #000;
    min-height: 1000px;
}