/* app css stylesheet */

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

h2 {
    margin: 0;
}

.version {
    background: #000;
    bottom: 0;
    color: #FFF;
    font-size: 10px;
    opacity: 0.3;
    padding: 4px 8px;
    position: fixed;
    left: 0;
}

/* form */

.form-title {
    margin-bottom: 1rem;
}

.form-title .title {
    color: #697174;
    font-family: "proxima-nova", sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin: 1rem 0 0 0;
    text-align: center;
}

.form-title .description {
    color: #9F9F9F;
    font-family: "proxima-nova", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
}

.form-group {
    margin: 2rem 0 1rem 0;
    width: 100%;
}

.field-group {
    margin: 0 0 1rem 0;
    width: 100%;
}

.field-label {
    color: #9B9B9B;
    display: block;
    font-family: "proxima-nova", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 0 0 0.25rem 0;
    width: 100%;
}

.field-subtitle {
    color: #9B9B9B;
    display: block;
    font-family: "proxima-nova", sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin: 0.5rem 0 0 0;
    width: 100%;
}

.text-field {
    background: #FAFAFA;
    border: 1px solid #E9EBEC;
    border-radius: 3px;
    box-sizing: border-box;
    color: #9B9B9B;
    font-family: "proxima-nova", sans-serif;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    margin: 0;
    padding: 8px 12px;
    width: 100%;
    -webkit-transition: all ease-in-out 100ms;
}

.text-field:focus {
    background: #FFF;
    border-color: #41B1E0;
    color: #697174;
    font-weight: 400;
}

.text-field.field-left {
    width: 220px;
}

.text-field.field-right {
    margin-left: 15px;
    width: 220px;
}

.field-btn {
    background: #41B1E0;
    border: none;
    border-radius: 3px;
    color: #FFF;
    font-family: "proxima-nova", sans-serif;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    padding: 8px 20px;
    text-align: center;
    -webkit-transition: background-color ease-in-out 100ms;
}

.field-btn:hover {
    background: #3095C0;
}

.field-btn.btn-dark {
    background: #383838;
}

.field-btn.btn-dark:hover {
    background: #505050;
}

.submit-btn {
    margin-top: 1rem;
    padding: 10px 20px;
    width: 100%;
}


/* footer */

#footer {
    background: #2A2A2A;
    color: #FFF;
    overflow: hidden;
    padding: 3rem 0;
    width: 100%
}

#footer-nav {
    color: #9B9B9B;
    float: left;
    margin-left: 4rem;
}

#footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer-nav .footer-nav-title {
    color: #9B9B9B;
    cursor: pointer;
    font-family: "proxima-nova", sans-serif;
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

#footer-nav .footer-nav-item {
    line-height: 1.2;
}

#footer-nav .footer-nav-item a {
    color: #9B9B9B;
    cursor: pointer;
    font-family: "proxima-nova", sans-serif;
    font-size: 11px;
    font-weight: 600;
}

#footer-nav .footer-nav-item a:hover {
    color: #CCC;
}

#footer-brand {
    float: right;
    margin-right: 4rem;
    margin-top: 2.5rem;
}

#footer-brand .logo-group {
    overflow: hidden;
    margin-bottom: 0.25rem;
}

#footer-brand .logo {
    background: url(../images/footer-logo.png) center center no-repeat;
    float: right;
    height: 29px;
    width: 29px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    #footer-brand .logo {
        background-image: url(../images/footer-logo@2x.png);
        background-size: 29px 29px;
    }

}

#footer-brand .title {
    color: #FFF;
    float: right;
    font-family: "proxima-nova", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-left: 0.5rem;
    text-align: right;
}

#footer-brand .copyright {
    color: #FFF;
    font-family: "proxima-nova", sans-serif;
    font-size: 11px;
    font-weight: 500;
    text-align: right;
}

/* app */

#app-header {
    background: #FFF;
    color: #2f5f8f;
    height: 80px;
    overflow: auto;
    position: absolute;
    width: 100%;
}

#app-title {
    float: left;
    margin: 20px 20px auto 20px;
    overflow: auto;
}

#app-title .logo {
    background: url(../images/app-logo.png) center center no-repeat;
    float: left;
    height: 38px;
    width: 38px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    #app-title .logo {
        background-image: url(../images/app-logo@2x.png);
        background-size: 38px 38px;
    }

}

#app-title h2 {
    float: left;
    font-family: "proxima-nova", sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 38px;
    margin: 0 0 0 0.5rem;
}

#main-nav {
    float: left;
    margin-left: 30px;
}

#main-nav a {
    color: #97AFC7;
    cursor: pointer;
    font-family: "proxima-nova", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 80px;
    margin-right: 2rem;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color ease-in-out 100ms;
}

#main-nav a:hover {
    color: #2F5F8F;
}

#main-nav a.active {
    color: #2F5F8F;
}

#app-header .settings-btn {
    background: url(../images/settings-icon.png) center center no-repeat;
    cursor: pointer;
    float: right;
    height: 20px;
    margin: 30px 30px 30px 0;
    opacity: 0.6;
    width: 20px;
    -webkit-transition: opacity ease-in-out 100ms;
}

#app-header .logout-btn {
    background: url(../images/logout-icon.png) center center no-repeat;
    cursor: pointer;
    float: right;
    height: 18px;
    margin: 31px 30px 30px 0;
    opacity: 0.6;
    width: 18px;
    -webkit-transition: opacity ease-in-out 100ms;
}

#app-header .settings-btn:hover {
    opacity: 1;
}

#app-header .logout-btn:hover {
    opacity: 1;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    #app-header .settings-btn {
        background-image: url(../images/settings-icon@2x.png);
        background-size: 20px 20px;
    }

    #app-header .logout-btn {
        background-image: url(../images/logout-icon@2x.png);
        background-size: 18px 18px;
    }

}

#app-menu {
    background: #2F5F8F;
    color: #FFF;
    position: absolute;
    width: 100%;
}

#app-menu .menu-list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

#app-menu .menu-item {
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: "proxima-nova", sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin: 20px 0 20px 30px;
    opacity: 0.6;
    padding: 0;
    text-transform: uppercase;
    -webkit-transition: opacity ease-in-out 100ms;
}

#app-menu .menu-item a {
    color: #FFF;
    outline: none;
    text-decoration: none;
}

#app-menu .menu-item:first-child {
    margin-left: 25px;
}

#app-menu .menu-item.active {
    opacity: 1;
}


#app-menu .menu-item:hover {
    opacity: 1;
}

#app-chart {
    background: #3e6d9d;
    background: -moz-linear-gradient(top,  #3e6d9d 0%, #275b90 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e6d9d), color-stop(100%,#275b90));
    background: -webkit-linear-gradient(top,  #3e6d9d 0%,#275b90 100%);
    background: -o-linear-gradient(top,  #3e6d9d 0%,#275b90 100%);
    background: -ms-linear-gradient(top,  #3e6d9d 0%,#275b90 100%);
    background: linear-gradient(to bottom,  #3e6d9d 0%,#275b90 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e6d9d', endColorstr='#275b90',GradientType=0 );
    height: 400px;
    width: 100%;
}

#app-content {
    bottom: 0;
    position: absolute;
    top: 80px;
    width: 100%;
}

#app-view {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 55px;
    width: 100%;
}

#app-footer {
    background: #2A2A2A;
    color: #FFF;
    min-height: 100px;
    overflow: hidden;
    padding: 3rem 0;
    width: 100%
}