/* general ledger styles */
/* TODO: abstract out table styles */

#advanced-view {
    background: #FFF;
    min-height: 600px;
}

#ledger-toolbar {
    background: #FFF;
    border-bottom: 1px solid #E5E5E5;
    overflow: auto;
    padding: 20px 0;
    width: 100%;
}

#ledger-search {
    background: #F6F6F6;
    border: 1px solid #F1F1F1;
    border-radius: 20px;
    color: #B4B4B4;
    font-family: "proxima-nova", sans-serif;
    font-size: 12px;
    float: left;
    outline: none;
    padding: 6px 16px;
    margin-left: 25px;
    width: 160px;
    -webkit-transition: all ease-in 100ms;
}

#ledger-search:focus {
    background: #FFF;
    border: 1px solid #DDD;
    color: #666;
}

#add-transaction-btn {
    background: #3F74A9;
    border: none;
    border-radius: 3px;
    color: #FFF;
    float: right;
    font-family: "proxima-nova", sans-serif;
    font-size: 11px;
    font-weight: 600;
    margin-right: 25px;
    padding: 8px 14px;
    outline: none;
    text-transform: uppercase;
    -webkit-transition: all ease-in 100ms;
}

#add-transaction-btn:hover {
    background: #386695;
}

#ledger-table {
    padding: 0 25px;
    min-height: 600px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#ledger-table .table-header {
    width: 100%;

}

#ledger-table .table-header-row {

}

#ledger-table .table-header-cell {
    border-bottom: 1px solid #E5E5E5;
    color: #A0A0A0;
    cursor: pointer;
    font-family: "proxima-nova", sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 16px 0 16px 36px;
    text-align: left;
    text-transform: uppercase;
}

#ledger-table .table-header-cell.cell-right {
    padding: 16px 36px 16px 0;
    text-align: right;
}

#ledger-table .table-header-cell.table-header-cell-selected {
    color: #3F74A9;
}

#ledger-table .table-header-cell.cell-160 {
    width: 160px;
}

#ledger-table .table-header-cell.cell-500{
    width: 500px;
}

#ledger-table .table-body {
    width: 100%;
}

#leader-table .table-row {

}

#ledger-table .table-cell {
    border-bottom: 1px solid #F4F4F4;
    color: #646464;
    font-family: "proxima-nova", sans-serif;
    font-size: 12px;
    font-weight: inherit;
    padding: 0 0 0 25px;
}

#ledger-table .table-cell .read-only {
    display: inline-block;
    padding: 12px 0 12px 11px;
}

#ledger-table .table-cell .editable {

}

#ledger-table .transaction-header {
    background: #FBFBFB;
    font-weight: 600;
}

#ledger-table .transaction-line {
    font-weight: 500;
}

#ledger-table .table-cell.transaction-line-indent .read-only {
    margin-left: 20px;
}

#ledger-table .table-cell.transaction-line-indent .text-field {
    margin-left: 20px;
}

#ledger-table .table-cell .text-field {
    background: #FFF;
    font-size: 12px;
    font-weight: inherit;
    margin: 5px 0;
    padding: 6px 10px;
    width: 120px;
}

#ledger-table .table-cell.cell-100 .text-field {
    width: 100px;
}

#ledger-table .table-cell.cell-right {
    padding: 0 25px 0 0;
    text-align: right;
}

#ledger-table .table-cell.cell-right .read-only {
    padding: 12px 11px 12px 0;
    text-align: right;
}

#ledger-table .table-cell.cell-right .text-field {
    float: right;
    text-align: right;
}

#ledger-table .table-cell .text-field.field-360 {
    width: 360px;
}

#ledger-table .table-cell .editable {
    display: none;
}

#ledger-table .table-cell:hover .read-only {
    display: none;
}

#ledger-table .table-cell:hover .editable {
    display: block;
}

#ledger-table .transaction-header .text-field {
    color: #646464;
}