/* common form */

.form-title {
    margin-bottom: 1rem;
}

.form-title .title {
    color: #697174;
    font-family: "proxima-nova", sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin: 1rem 0 0 0;
    text-align: center;
}

.form-title .description {
    color: #9F9F9F;
    font-family: "proxima-nova", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
}

.form-group {
    margin: 1rem 0;
    width: 100%;
}

.field-group {
    margin: 0;
    width: 100%;
}

.field-label {
    color: #9B9B9B;
    display: block;
    font-family: "proxima-nova", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 0 0 0.25rem 0;
    width: 100%;
}

.text-field {
    background: #FAFAFA;
    border: 1px solid #E9EBEC;
    border-radius: 3px;
    box-sizing: border-box;
    color: #9B9B9B;
    font-family: "proxima-nova", sans-serif;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    margin-bottom: 1rem;
    padding: 8px 12px;
    width: 100%;
    -webkit-transition: all ease-in-out 100ms;
}

.text-field:focus {
    background: #FFF;
    border-color: #41B1E0;
    color: #697174;
    font-weight: 400;
}

.text-field.field-left {
    width: 220px;
}

.text-field.field-right {
    margin-left: 15px;
    width: 220px;
}

.field-btn {
    background: #41B1E0;
    border: none;
    border-radius: 3px;
    color: #FFF;
    font-family: "proxima-nova", sans-serif;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    padding: 8px 20px;
    text-align: center;
    -webkit-transition: background-color ease-in-out 100ms;
}

.field-btn:hover {
    background: #3095C0;
}

.field-btn.btn-dark {
    background: #383838;
}

.field-btn.btn-dark:hover {
    background: #505050;
}

.submit-btn {
    margin-top: 1rem;
    padding: 10px 20px;
    width: 100%;
}

/* register page */

#logo-group {
    margin: 6rem auto 0 auto;
    overflow: hidden;
    width: 200px;
}

#logo-group .logo {
    background: url(../images/logo.png) center center no-repeat;
    float: left;
    height: 57px;
    width: 57px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    #logo-group .logo {
        background-image: url(../images/logo@2x.png);
        background-size: 57px 57px;
    }

}

#logo-group .title {
    color: #FFF;
    font-family: "proxima-nova", sans-serif;
    font-size: 36px;
    font-weight: 600;
    float: left;
    letter-spacing: -0.5px;
    margin: 6px 0 0 1rem;
}

#register-form {
    background: #FFF;
    margin: 3rem auto 6rem auto;
    padding: 2rem 40px;
    position: relative;
    width: 460px;
}

#register-form hr {
    border-color: #E9EBEC;
    margin: 2rem 0;
}

#register-form .shadow {
    background: #C3C3C3;
    bottom: -4px;
    height: 4px;
    left: 4px;
    position: absolute;
    width: 532px;
}

#login-splash {
    margin: 0 auto;
    width: 270px;
}

#login-splash .message {
    color: #697174;
    font-family: "proxima-nova", sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-right: 1rem;
}

#login-splash .btn {

}