
/* common */

.row {
    padding: 0;
    margin-bottom: 2px;
    overflow: auto;
}

.cell {
    font: 13px "proxima-nova", sans-serif;
    float: left;
}

.field {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input.field, select.field {
    border: none;
    font: 13px "proxima-nova", sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: left;
    width: 80px;
    -webkit-appearance: none;
}

.field.text-field {
    background: #FFF;
    border: 1px solid transparent;
    border-radius: 2px;
}

.field.text-field:hover {
    border-color: #DDD;
}

.field.date-field {
    background: #FFF;
    border: 1px solid transparent;
    border-radius: 2px;
}

.field.date-field:hover {
    border-color: #DDD;
}

.field.select-field {
    background: #FFF;
    border: 1px solid transparent;
    border-radius: 2px;
}

.field.select-field:hover {
    background: #FFF url(../images/select-icon.png) right center no-repeat;
    border-color: #DDD;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    .field.select-field:hover {
        background-image: url(../images/select-icon@2x.png);
        -webkit-background-size: 17px 10px;
        -moz-background-size: 17px 10px;
        background-size: 17px 10px;
    }

}

.field.label-field {

}


/* ledger */

#ledger {
    padding: 19px;
}

/* header */

.header-row {
    border-bottom: 1px solid #EEE;
}

.header-row .cell {
    box-sizing: border-box;
    color: #666;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 12px 11px;
}

.header-row .cell.right-align {
    margin-left: 10px;
    margin-right: 0;
    text-align: right;
}

/* transactions */

.transaction-row {
    border-bottom: 1px solid #EEE;
}

.transaction-row .info-subrow {

}

.transaction-row .line-subrow {

}

.transaction-row .add-subrow {

}

.transaction-row .cell {
    margin-right: 10px;
}

.transaction-row .cell.right-align {
    margin-left: 10px;
    margin-right: 0;
}

.transaction-row .field {
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 6px 10px 5px 10px;
    width: 100%;
}

.transaction-row .right-align .field {
    clear: both;
    float: right;
    text-align: right;
}

/* custom cells */

.transaction-row .field.add-line-button {
    font-size: 12px;
    font-weight: 600;
    padding-left: 15px;
}

.transaction-row .field.add-line-button:hover {
    color: #777;
}


.transaction-row .field.delete-line-button {
    font-size: 12px;
    font-weight: 600;
    padding-left: 15px;
}

.transaction-row .field.delete-line-button:hover {
    color: #777;
}

.field.account-name {
    padding-left: 15px;
}

.field.account-names {
    background: url(../images/transaction-line-expand-icon.png) left center no-repeat;
    cursor: pointer;
    padding-left: 15px;
}

.transaction-row.expanded .field.account-names {
    background-image: url(../images/transaction-line-collapse-icon.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    .field.account-names {
        background-image: url(../images/transaction-line-expand-icon@2x.png);
        -webkit-background-size: 6px 7px;
        -moz-background-size: 6px 7px;
        background-size: 6px 7px;
    }

    .transaction-row.expanded .field.account-names {
        background-image: url(../images/transaction-line-collapse-icon@2x.png);
        -webkit-background-size: 7px 6px;
        -moz-background-size: 7px 6px;
        background-size: 7px 6px;
    }

}

/* custom cell widths */

#ledger .row .cell:nth-child(1) { width: 120px }
#ledger .row .cell:nth-child(2) { width: 140px }
#ledger .row .cell:nth-child(3) { width: 240px }
#ledger .row .cell:nth-child(4) { width: 240px }
#ledger .row .cell:nth-child(5) { width: 100px }
#ledger .row .cell:nth-child(6) { width: 100px }

#ledger .line-subrow .cell:nth-child(1) { margin-left: 280px; width: 490px; }
#ledger .line-subrow .cell:nth-child(2) { width: 100px }
#ledger .line-subrow .cell:nth-child(3) { width: 100px }

#ledger .add-subrow .cell:nth-child(1) { margin-left: 280px; margin-right: 230px; width: 490px; }

/* buttons */

.delete-line-button {
    cursor: pointer;
}

.add-line-button {
    cursor: pointer;
}
