<div class="line-row list-row">
    <div class="list-cell cell-sm"></div>
    <div class="list-cell"></div>
    <div class="list-cell cell-lg">
        <select class="field-input" name="accountId">
            {{#each accounts}}
                <option value="{{accountId}}">{{accountName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="list-cell cell-lg"></div>
    <div class="list-cell cell-sm">
        <input class="field-input" name="amount" type="text" value="0" />
    </div>
    <div class="list-cell cell-sm"></div>
    <div class="row-options">
        <div class="row-option delete-row-btn">Delete</div>
    </div>
</div>