<div class="transaction-group">

    <div class="transaction-editor">

        <div class="transaction-row list-row">
            <div class="list-cell cell-sm">
                <input class="field-input" type="text" value="{{currentDate}}" />
            </div>
            <div class="list-cell">
                <select class="field-input">
                    <option value="Deposit">Deposit</option>
                    <option value="Buy To Open">Buy To Open</option>
                    <option value="Sell To Close">Sell To Close</option>
                    <option value="Transfer">Transfer</option>
                </select>
            </div>
            <div class="list-cell cell-lg"></div>
            <div class="list-cell cell-lg">
                <input class="field-input" type="text" value="" />
            </div>
            <div class="list-cell cell-sm">0.00</div>
            <div class="list-cell cell-sm"></div>
        </div>

        <div class="line-row list-row">
            <div class="list-cell cell-sm"></div>
            <div class="list-cell"></div>
            <div class="list-cell cell-lg">
                <select class="field-input">
                    {{#each accounts}}
                        <option value="{{accountId}}">{{accountName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="list-cell cell-lg"></div>
            <div class="list-cell cell-sm">
                <input class="field-input" type="text" value="0.00" />
            </div>
            <div class="list-cell cell-sm"></div>
            <div class="row-options">
                <div class="row-option delete-row-btn">Delete</div>
            </div>
        </div>

        <div class="add-line-row list-row">
            <div class="list-cell cell-sm"></div>
            <div class="list-cell"></div>
            <div class="list-cell cell-lg add-row-btn">Add Line</div>
            <div class="list-cell cell-lg"></div>
            <div class="list-cell cell-sm"></div>
            <div class="list-cell cell-sm"></div>
        </div>

        <div class="editor-options">
            <div class="editor-option cancel-btn">Cancel</div>
            <div class="editor-option save-btn">Save</div>
        </div>

    </div>

</div>