{{#if accountId}}

<div class="account-info">
    <h2>{{account.accountName}}</h2>
    <div class="balance">{{currency balance '$'}}</div>
</div>

<ul class="range-picker">
    <li class="range-picker-item">1W</li>
    <li class="range-picker-item">2W</li>
    <li class="range-picker-item active">1M</li>
    <li class="range-picker-item">3M</li>
    <li class="range-picker-item">1Y</li>
    <li class="range-picker-item">2Y</li>
    <li class="range-picker-item">5Y</li>
    <li class="range-picker-item">All</li>
</ul>

<div class="chart-settings-button"></div>

<div class="transaction-header">
    <div class="transaction-header-item column-left column-xsm">
        <div class="reconciled-header-button"></div>
    </div>
    <div class="transaction-header-item column-left column-md active">Date</div>
    <div class="transaction-header-item column-left column-xlg">Description</div>
    <div class="transaction-header-item column-right column-sm">Balance</div>
    <div class="transaction-header-item column-right column-sm">Amount</div>
</div>

<div class="progress"></div>

{{/if}}

{{#unless accountId}}

    <div class="no-account-label">No Accounts</div>

{{/unless}}