<div class="selector-overlay">

    <div class="selector-selector-title">Accounts</div>

    {{#if overlayed}}
        <div class="close-btn" data-bind="click:close()"></div>
    {{/if}}

    <div class="selector-lists">

        <ul class="selector-list">
            <li class="selector-list-header">Banking</li>
            {{#each accounts}}
                <li class="selector-list-item" data-key="{{accountId}}">
                    <span class="label">{{accountName}}</span>
                </li>
            {{/each}}
        </ul>

        <ul class="selector-list">
            <li class="selector-list-header">Credit & Loan</li>
            <li class="selector-list-item"><span data-link class="label">American Express Blue Cash</span></li>
            <li class="selector-list-item"><span class="label">Citi Double Cash</span></li>
            <li class="selector-list-item"><span class="labsel">Citi AAdvantage Signature</span></li>
            <li class="selector-list-item"><span class="label">Chase Freedom Rewards</span></li>
            <li class="selector-list-item"><span class="label">Chase Ink Premier</span></li>
            <li class="selector-list-item"><span class="label">Bank of America World Points</span></li>
        </ul>

        <ul class="selector-list">
            <li class="selector-list-header">Investment</li>
            <li class="selector-list-item"><span class="label">Bank of America Brokerage</span></li>
            <li class="selector-list-item"><span class="label">Bank of America Roth IRA</span></li>
            <li class="selector-list-item"><span class="label">Schwab One Brokerage</span></li>
            <li class="selector-list-item"><span class="label">Principal Financial</span></li>
        </ul>

    </div>

</div>