<ul class="sub-nav">

    <li class="sub-nav-header">
        <div class="sub-nav-title">Accounts</div>
        <div class="sub-nav-button"></div>
    </li>

    <li class="sub-nav-item">
        <div class="sub-nav-title">Bank of America Checking</div>
        <div class="sub-nav-subtitle">1 Minute Ago</div>
    </li>

    <li class="sub-nav-item">
        <div class="sub-nav-title">Bank of America Savings</div>
        <div class="sub-nav-subtitle">30 Minutes Ago</div>
    </li>

    <li class="sub-nav-item">
        <div class="sub-nav-title">Capital One 360 Savings</div>
        <div class="sub-nav-subtitle">1 Hour Ago</div>
    </li>

    <li class="sub-nav-item">
        <div class="sub-nav-title">Chase Online Checking</div>
        <div class="sub-nav-subtitle">2 Hours Ago</div>
    </li>

    <li class="sub-nav-item">
        <div class="sub-nav-title">Chase Online Savings</div>
        <div class="sub-nav-subtitle">1 Day Ago</div>
    </li>

</ul>