<ul class="sub-nav">

    <li class="sub-nav-header">
        <div class="sub-nav-title">Accounts</div>
        <div class="sub-nav-button"></div>
    </li>

    {{#each accounts}}

    <li class="sub-nav-item">
        <div class="sub-nav-title">{{accountName}}</div>
        <div class="sub-nav-subtitle">1 Minute Ago</div>
    </li>

    {{/each}}

    <div ui-view="test"></div>

</ul>