<header id="transactions-header">

    <div class="title">Bank of America Checking</div>

    <div class="info">
        <div class="balance">$6,302.21</div>
        <div class="updated">Last Updated May 24, 2015</div>
    </div>

</header>

<div id="transactions-options">

    <div class="date-range">
        <input type="text" value="Jan 1, 2015" />
        to
        <input type="text" value="Dec 31, 2015" />
    </div>

    <input class="search-field" type="search" placeholder="Search" />

</div>

<div id="ledger">

    <div class="header">

        <div class="row header-row">
            <div class="cell">Date</div>
            <div class="cell">Type</div>
            <div class="cell">Accounts</div>
            <div class="cell">Description</div>
            <div class="cell right-align">Amount</div>
            <div class="cell right-align">Balance</div>
        </div>

    </div>

    <div class="content" data-model="transactions" data-repeat="editor"></div>

</div>