<div class="form-title">
    <h2 class="title">Forgot Password</h2>
    <div class="description">Need help logging in? Request to reset your password here.</div>
</div>

<form>

    <div class="form-group">

        <div class="field-group">
            <label class="field-label">Enter your email</label>
            <input class="text-field" type="text" placeholder="you@example.com" data-model="email" spellcheck="false" />
        </div>

        <input class="field-btn submit-btn" type="button" value="Reset Password" data-bind="forgotPassword()" />

    </div>

</form>