<div id="ledger-toolbar">

    <input id="ledger-search" type="search" placeholder="Search" />

    <input id="add-transaction-btn" type="button" value="Add Transaction" />

</div>

<table id="ledger-table" cellpadding="0" cellspacing="0">

    <thead class="table-header">

        <tr class="table-header-row">
            <th class="table-header-cell cell-160 table-header-cell-selected table-header-cell-desc">Date</th>
            <th class="table-header-cell">Type</th>
            <th class="table-header-cell cell-500">Description</th>
            <th class="table-header-cell cell-160 cell-right">Debit</th>
            <th class="table-header-cell cell-160 cell-right">Credit</th>
        </tr>

    </thead>

    <tbody class="table-body" ng-repeat="transaction in transactions" data-id="{{transaction.transactionId}}">

        <tr class="table-row transaction-header">
            <td class="table-cell">
                <span class="read-only">{{transaction.transactionDate | date }}</span>
                <input class="text-field editable" type="text" value="{{transaction.transactionDate | date }}" />
            </td>
            <td class="table-cell">
                <span class="read-only">Deposit</span>
                <input class="text-field editable" type="text" value="Deposit" />
            </td>
            <td class="table-cell" colspan="3">
                <span class="read-only">{{transaction.description}}</span>
                <input class="text-field editable field-360" ng-model="transaction.description" type="text" />
            </td>
        </tr>

        <tr class="table-row transaction-line" ng-repeat="line in transaction.transactionLines | orderBy:sortColumn">
            <td class="table-cell" colspan="2"></td>
            <td class="table-cell" ng-class="{ 'transaction-line-indent': !$first }">
                <span class="read-only">{{line.account.accountName}}</span>
                <input class="text-field editable field-360" type="text" ng-model="line.account.accountName" />
            </td>
            <td class="table-cell cell-right cell-100">
                <span class="read-only">{{line.debitAmount | currency}}</span>
                <input class="text-field editable" type="text" ng-model="line.debitAmount" />
            </td>
            <td class="table-cell cell-right cell-100">
                <span class="read-only">{{line.creditAmount | currency}}</span>
                <input class="text-field editable" type="text" ng-model="line.creditAmount" />
            </td>
        </tr>

    </tbody>

</table>