<div id="app-header">

    <div id="app-title">
        <div class="logo"></div>
        <h2>Fiscality</h2>
    </div>

    <nav id="main-nav">
        <a class="active">Accounts</a>
        <a>Investments</a>
        <a>Spending</a>
        <a>Taxes</a>
        <a>Advanced</a>
    </nav>

    <a class="logout-btn" ui-sref="home.login"></a>

    <a class="settings-btn"></a>

</div>

<div id="app-menu">

    <ul class="menu-list">
        <li class="menu-item"><a>Banking</a></li>
        <li class="menu-item"><a>Credit Cards</a></li>
        <li class="menu-item"><a>Brokerage</a></li>
        <li class="menu-item"><a>Retirement</a></li>
        <li class="menu-item"><a>Loans</a></li>
    </ul>

</div>

<div id="app-chart"></div>

<div id="app-content">


</div>

<footer id="footer">

    <nav id="footer-nav">
        <ul>
            <li class="footer-nav-title">SiteMap</li>
            <li class="footer-nav-item"><a>Home</a></li>
            <li class="footer-nav-item"><a>About Fiscality</a></li>
            <li class="footer-nav-item"><a>Terms of Service</a></li>
            <li class="footer-nav-item"><a>Privacy Policy</a></li>
            <li class="footer-nav-item"><a>Contact Us</a></li>
        </ul>
    </nav>

    <div id="footer-brand">
        <div class="logo-group">
            <span class="title">Fiscality</span>
            <div class="logo"></div>
        </div>
        <div class="copyright">Copyright &copy; 2015 Stack Trace LLC. All Rights Reserved.</div>
    </div>

</footer>
