<div id="app-header">

    <div id="app-title">
        <div class="logo"></div>
        <h2>Fiscality</h2>
    </div>

    <nav id="main-nav">
        <a ui-sref="home.login" class="active">Accounts</a>
        <a ui-sref="home.login">Investments</a>
        <a ui-sref="home.login">Spending</a>
        <a ui-sref="home.login">Taxes</a>
        <a ui-sref="home.login">Advanced</a>
    </nav>

    <div class="logout-btn"></div>

    <div class="settings-btn"></div>

</div>

<div id="app-menu"></div>

<div id="app-content">


</div>

<div id="app-footer">


</div>

