<div id="app-header">

    <div id="app-title">
        <div class="logo"></div>
        <h2>Fiscality</h2>
    </div>

    <nav id="main-nav">
        <a ng-class="{active: $state.includes('app.accounts')}" ui-sref="app.accounts.banking">Accounts</a>
        <a ng-class="{active: $state.includes('app.investments')}" ui-sref="app.investments.positions">Investments</a>
        <a>Spending</a>
        <a>Taxes</a>
        <a ng-class="{active: $state.includes('app.advanced')}" ui-sref="app.advanced.ledger">Advanced</a>
    </nav>

    <a class="logout-btn" ui-sref="home.login"></a>

    <a class="settings-btn"></a>

</div>

<div id="app-content" ui-view></div>

<!--<footer id="footer">-->

    <!--<nav id="footer-nav">-->
        <!--<ul>-->
            <!--<li class="footer-nav-title">SiteMap</li>-->
            <!--<li class="footer-nav-item"><a>Home</a></li>-->
            <!--<li class="footer-nav-item"><a>About Fiscality</a></li>-->
            <!--<li class="footer-nav-item"><a>Terms of Service</a></li>-->
            <!--<li class="footer-nav-item"><a>Privacy Policy</a></li>-->
            <!--<li class="footer-nav-item"><a>Contact Us</a></li>-->
        <!--</ul>-->
    <!--</nav>-->

    <!--<div id="footer-brand">-->
        <!--<div class="logo-group">-->
            <!--<span class="title">Fiscality</span>-->
            <!--<div class="logo"></div>-->
        <!--</div>-->
        <!--<div class="copyright">Copyright &copy; 2015 Stack Trace LLC. All Rights Reserved.</div>-->
    <!--</div>-->

<!--</footer>-->
