<div class="form-title">
    <h2 class="title">Join Us</h2>
    <div class="description">Start managing your finances with Fiscality</div>
</div>

<form ng-submit="register(firstName, lastName, email, password)">

    <div class="form-group">

        <div class="field-group">
            <label class="field-label">Tell us your name</label>
            <input class="text-field field-left" type="text" placeholder="ex. John" ng-model="firstName" spellcheck="false" />
            <input class="text-field field-right" type="text" placeholder="ex. Smith" ng-model="lastName" spellcheck="false" />
        </div>

        <div class="field-group">
            <label class="field-label">Enter your email</label>
            <input class="text-field" type="text" placeholder="you@example.com" ng-model="email" spellcheck="false" />
        </div>

        <div class="field-group">
            <label class="field-label">Choose a password</label>
            <input class="text-field" type="password" placeholder="Password" ng-model="password" />
        </div>

        <input class="field-btn submit-btn" type="submit" value="Get Started" />

    </div>

</form>

<hr />

<div id="login-splash">
    <span class="message">Already have an account?</span>
    <button class="field-btn btn-dark" ui-sref="home.login">Login Here</button>
</div>

<div class="shadow"></div>