<form ng-submit="resetPassword(password, confirm)">

    <div class="form-group">

        <div class="field-group">
            <label class="field-label">Enter a new password</label>
            <input class="text-field" type="password" placeholder="Password" ng-model="password" spellcheck="false" />
        </div>

        <div class="field-group">
            <label class="field-label">Confirm your password</label>
            <input class="text-field" type="password" placeholder="Confirm Password" ng-model="confirm" spellcheck="false" />
        </div>

        <input class="field-btn submit-btn" type="submit" value="Reset Password" ng-click="resetPassword(password, confirm)" />

    </div>

</form>