<div id="ledger-toolbar">

    <input id="ledger-search" type="search" placeholder="Search" />

    <input id="add-transaction-btn" type="button" value="Add Transaction" />

</div>

<div id="ledger-table">

    <div class="table-header">
        <div class="table-header-cell cell-sm table-header-cell-selected table-header-cell-desc">Date</div>
        <div class="table-header-cell cell-sm">Type</div>
        <div class="table-header-cell cell-lg">Description</div>
        <div class="table-header-cell cell-xsm cell-right">Debit</div>
        <div class="table-header-cell cell-xsm cell-right">Credit</div>
    </div>

    <div class="table-body">

        <div class="transaction" data-repeat="transaction in transactions">

            <div class="table-row transaction-header">
                <div class="table-cell cell-sm">
                    <span class="text-label">{{transaction.transactionDate}}</span>
                    <input class="text-field editable field-sm" type="text" />
                </div>
                <div class="table-cell cell-sm">
                    <span class="text-label">Deposit</span>
                    <input class="text-field editable field-sm" type="text" value="Deposit" />
                </div>
                <div class="table-cell cell-lg">
                    <span class="text-label">{{transaction.description}}</span>
                    <input class="text-field editable field-lg" type="text" />
                </div>
            </div>

            <div class="table-row transaction-line">
                <div class="table-cell cell-sm"></div>
                <div class="table-cell cell-sm"></div>
                <div class="table-cell cell-lg" ng-class="{ 'transaction-line-indent': !$first }">
                    <span class="text-label"></span>
                    <input class="text-field editable field-lg" type="text" />
                </div>
                <div class="table-cell cell-xsm cell-right">
                    <span class="text-label">{{transaction.debitAmount}}</span>
                    <input class="text-field editable field-xsm" type="text" />
                </div>
                <div class="table-cell cell-xsm cell-right">
                    <span class="text-label">{{transaction.creditAmount}}</span>
                    <input class="text-field editable field-xsm" type="text" />
                </div>
            </div>

        </div>

    </div>

</div>