<ul class="sub-nav">

    <li class="sub-nav-header">
        <div class="sub-nav-title">Portfolios</div>
        <div class="sub-nav-button"></div>
    </li>

    {{#each portfolios}}

        <li class="sub-nav-item{{#if @root.portfolioId}} active{{/if}}" data-link="/app/investments/{{portfolioId}}">
            <div class="sub-nav-title">{{portfolioName}}</div>
            <div class="sub-nav-subtitle">1 Minute Ago</div>
        </li>

    {{/each}}

</ul>

<div class="progress"></div>