<div class="row transaction-row">

    <div class="row info-subrow">
        <div class="cell">
            <div class="field" data-component="date-field" data-model="transactionDate" data-format="M/d/yyyy"></div>
        </div>
        <div class="cell">
            <div class="field" data-component="select-field" data-model="transactionType" data-source="transactionTypes"></div>
        </div>
        <div class="cell">
            <div class="field account-names" data-model="accountNames"></div>
        </div>
        <div class="cell">
            <div class="field" data-component="text-field" data-model="description"></div>
        </div>
        <div class="cell right-align">
            <div class="field" data-model="amount"></div>
        </div>
        <div class="cell right-align">
            <div class="field">10,392.22</div>
        </div>
    </div>

    <div data-component="line-editor" data-model="otherLines" data-repeat="editor-line">Lines</div>

</div>