<div class="editor-line">

    <div class="list-cell">
        <div data-component="select-field" data-model="accountId" data-source="accountOptions">1</div>
    </div>

    <div class="list-cell cell-right">
        <div class="field-right" data-component="text-field" data-model="amount">2</div>
    </div>

    <div class="list-cell">
        Delete
    </div>

</div>