<div class="row line-subrow">

    <div class="cell">
        <div class="field account-name" data-component="select-field" data-model="accountId" data-source="accountOptions"></div>
    </div>

    <div class="cell right-align">
        <div class="field" data-component="text-field" data-model="amount"></div>
    </div>

    <div class="cell right-align">
        <div class="field label-field delete-line-button">Delete</div>
    </div>

</div>