<div class="editor-line">

    <div data-component="select-field" data-model="accountId" data-source="accountOptions">1</div>
    <div data-component="text-field" data-model="amount">2</div>
    <div>Delete</div>

</div>