<div class="editor">

    <header>
        <div data-component="date-field" data-model="transactionDate">Date</div>
        <div data-component="select-field" data-model="transactionType" data-source="transactionTypes">Type</div>
        <div data-component="text-field" data-model="description">Description</div>
        <div data-model="amount">Amount</div>
    </header>

    <div data-component="line-editor" data-model="otherLines" data-repeat="editor-line">Lines</div>

</div>