<div class="line-editor">

    <div class="line-group" data-outlet></div>

    <div class="row add-subrow">
        <div class="cell"><div class="field label-field add-line-button">Add Line</div></div>
    </div>

</div>