<header>

    <h1>Portfolio Name</h1>

    <ul>
        <li>Positions</li>
        <li>Activity</li>
        <li>Performance</li>
        <li>Allocation</li>
    </ul>

</header>

<div ui-view="investments"></div>