<div id="app-menu">

    <ul class="menu-list">
        {{#if isPositions}}
            <li class="menu-item active"><a href="#/app/investments/positions">Positions</a></li>
        {{else}}
            <li class="menu-item"><a href="#/app/investments/positions">Positions</a></li>
        {{/if}}
        {{#if isActivity}}
            <li class="menu-item active"><a href="#/app/investments/activity">Activity</a></li>
        {{else}}
            <li class="menu-item"><a href="#/app/investments/activity">Activity</a></li>
        {{/if}}
        <li class="menu-item"><a>Gain / Loss</a></li>
        <li class="menu-item"><a>Asset Allocation</a></li>
        <li class="menu-item"><a>Fundamentals</a></li>
    </ul>

</div>

<div ui-view id="app-view"></div>