<div id="header">
    <h1 id="app-logo" title="Fiscality"></h1>
    <div class="logout-btn" data-bind="click:logout()"></div>
</div>

<div id="statistics">
    <div class="balance">
        <div class="stat-value">734,029.22</div>
        <div class="stat-label">Balance</div>
    </div>

    <div class="change">
        <div class="stat-value"><div class="up-arrow"></div>665.45</div>
        <div class="stat-label">0.75%</div>

    </div>

</div>

<ul id="nav">
    <li class="menu-item accounts" data-key="accounts">Accounts</li>
    <li class="menu-item investments" data-key="investments">Investments</li>
    <li class="menu-item spending">Spending</li>
    <li class="menu-item taxes">Taxes</li>
</ul>

<div id="settings" class="settings-btn">
    <div class="account-label">My Account</div>
    <div class="account-name">Kevin Kinnebrew</div>
</div>