<div id="menu">

    <div id="header">
        <h1 id="app-logo" title="Fiscality"></h1>
        <div class="logout-button" data-bind="click:logout()"></div>
    </div>

    <ul id="nav">
        <li class="nav-list-item accounts active" title="Accounts" data-link="/app/accounts"></li>
        <li class="nav-list-item investments" title="Investments" data-link="/app/investments"></li>
    </ul>

    <div id="subnav" ui-view="subnav"></div>

</div>

<div id="content" ui-view="content"></div>
