<div id="menu">

    <div id="header">
        <h1 id="app-logo" title="Fiscality"></h1>
        <div class="logout-button"></div>
    </div>

    <ul id="nav">
        <li class="nav-list-item active" title="Accounts" data-link="#/app/accounts"></li>
        <li class="nav-list-item" title="Investments" data-link="#/app/investments"></li>
        <li class="nav-list-item" title="Spending"></li>
        <li class="nav-list-item" title="Taxes"></li>
        <li class="nav-list-item" title="Settings"></li>
    </ul>


    <div id="subnav" ui-view="subnav"></div>

</div>

<div id="content" ui-view="content"></div>
