<div id="home-layout">

    <div id="home-content">

        <div id="logo-group">
            <div class="logo"></div>
            <span class="title">Fiscality</span>
        </div>

        <div id="home-form" ui-view></div>

    </div>

    <footer id="footer">

        <nav id="footer-nav">
            <ul>
                <li class="footer-nav-title">SiteMap</li>
                <li class="footer-nav-item"><a href="#/home">Home</a></li>
                <li class="footer-nav-item"><a>About Fiscality</a></li>
                <li class="footer-nav-item"><a>Terms of Service</a></li>
                <li class="footer-nav-item"><a>Privacy Policy</a></li>
                <li class="footer-nav-item"><a>Contact Us</a></li>
            </ul>
        </nav>

        <div id="footer-brand">
            <div class="logo-group">
                <span class="title">Fiscality</span>
                <div class="logo"></div>
            </div>
            <div class="copyright">Copyright &copy; 2015 Stack Trace LLC. All Rights Reserved.</div>
        </div>

    </footer>

</div>